@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
}

html{
    font-size: 20px;
}

:root{
    --section_title-height: 65px;
    --icon_height: var(--section_title-height);
    --icon_width: var(--icon_height);
}


p{
    max-width: 300px;
    overflow-wrap: break-word; /* Переносит целые слова, если они не помещаются */
}

.link{
    color: #0059FF;
}


@font-face {
    font-family: "My_font";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 250;
    /*font-size: 5rem;*/
}

.SVG-icon{
    margin-right: 15px;
    height: var(--section_title-height);
    width: var(--section_title-height);
}

.doc-SVG{
    height: 1.5rem;
    margin-left: 5px;
    /*align-self: flex-start;*/
}


.level_1{
    font-size: 33px;
}

.level_2{
    font-size: 38px;
}

/**/

.App{
    display: flex;
    /*align-items: center;*/

    /*font-family: "My_font";*/
    font-family: 'Inter', sans-serif;
    font-weight: 500; /* Лёгкий вариант */
    /*color: #083f85;*/
    /*font-size: 1.5rem;*/
}

.MainArea{
    width: 80%;
    height: 100%;
    padding: 2%;
}

.Subject{
    height: 100%;
    width: 100%;
}

.info{
    display: flex;
    flex-direction: row;
}

.info > *{
    margin-right: 20px;
}

.blocks{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;

    grid-auto-flow: column;
    gap: 16px;


    padding: 30px 2%;
    height: 100%;
    /* background-color: #eee3e3; */
    /*width: 100%;*/
}

.Block{
    border: solid 2px #000000;
    /*margin: 2%;*/
    padding: 2% 5%;
    /* background-color: rgb(255, 255, 255); */
}

.list_classes{
    margin: 5px 0;
}

.class{
    height: 1.5rem;
    display: flex;
    margin: 5px 0;
    align-items: center ;
}

.description_block{
    grid-column: span 2;
    grid-row: span 2;
}

.Sidebar{
    margin-left: auto;
    background: #d2d4d5;
    /*width: 382px;*/
    height: 100%;
    padding: 1% 1.5%;

    /*justify-content: center;*/



}

.SubjectMenu {
    /*margin-left: 5%;*/
    display: flex;
    flex-direction: column;
}

.section_title {
    /*margin-left: 5%;*/
    /*text-align: center;*/
    height: var(--section_title-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.list_subjects > p{
    padding: 0 0 10px 0;
}

.SubjectMenu > * {
    display: flex;
    flex-direction: column;
}

.SubjectForm{
    display: flex;
    flex-direction: column;
}

/**/

.Note{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 4px 10px;
    border: rgba(52, 145, 0, .3) 3px solid ;
}

.NoteForm{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding-right: 10px;
    /*padding: 4px 10px;*/
}

/**/

input, .note-input, .card-input {
    align-self: stretch;
    width: 350px;
    border-radius: 15px;
    /*font-size: 1.5rem;*/
    padding: 4px 10px;
}

.note-input, .card-input{
    outline: none;
    border: rgba(8, 63, 133, .5) 3px solid ;
    color: #083f85;
}

.card-input{
    margin-top: 10px;
}


button {
    padding: 2px 10px;
    margin-left: 5px ;
    /*background: transparent;*/
    /*font-size: 1rem;*/
    cursor: pointer;
    border:none;
    background-color: #e6e4e4;
    border-radius: 5px;
}

.select-button, .add-card-button, .delete-card-button{
    margin-top: 5%;
    /*font-size: 2rem;*/
}

/**/

.select-button{
    color: rgba(8, 63, 133);
}

.select-button:focus {
    outline: none;
    color: rgba(8, 63, 133);
    background-color: rgba(52, 145, 0, 0.5);
}

.select-button:hover:focus {
    color: rgba(8, 63, 133);
}

.select-button:hover {
    transition: 0.3s;
    color: #c60a0a;
}

/**/

.add-card-button, .add-button{
    background-color: #083f85;
    color: white;
}

.add-button {
    width: 125px;
}

.delete-card-button, .delete-button{
    background-color: #c60a0a;
    color: white;
}

.delete-button {
    width: 95px;
}
