@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App{
    height: 100%;
}

html{
    font-size: 25px;
}

:root{
    --section_title-height: 65px;
    --icon_height: var(--section_title-height);
    --icon_width: var(--icon_height);
    --pastel_blue:#e9f1f5;
    --pastel_green: #cdebdc;
    --pastel_grey: #f2f2f2;
    --title_blue: #BDE4F8;
    --title_grey: #CFDFE6;
    --blue: #CFDFE6;

    --el_border_rad: 8px;
}

p{
    /* max-width: 300px; */
    /* overflow-wrap: break-word; Переносит целые слова, если они не помещаются */
}

.link{
    color: #0059FF;
}


@font-face {
    font-family: "My_font";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 250;
    /*font-size: 5rem;*/
}

.SVG-icon{
    color: #ffffff;
    margin-right: 15px;
    height: var(--section_title-height);
    width: var(--section_title-height);
}

.circle{
    fill:#7498c0;
}

.doc-SVG{
    height: 1.5rem;
    margin-left: 5px;
    /*align-self: flex-start;*/
}


.level_1{
    font-size: 33px;
}

.level_2{
    font-size: 38px;
    font-style: italic;
}

/**/

#root{
    /* background-color: #0059FF; */
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: 40px 1fr 40px;
}

.App{
    font-family: 'Inter', sans-serif;
    font-weight: 500; /* Лёгкий вариант */

    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 37fr 11fr;
    grid-template-areas: "main nav";
    gap:20px
}

main {
    grid-area: main;
    /* background-color: red; */
}


.Subject{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas: 
        "part_1 part_4"
        "part_2 part_5"
        "part_3 part_5"
    ;
    gap:10px
}

.Subject > *{
    background-color: var(--pastel_blue);
}

.part_1{
    grid-area: part_1;
}

.part_2{
    grid-area: part_2;
    max-height: 381.5px;

}

.part_3{
    grid-area: part_3;
    max-height: 381.5px;

}

.part_4{
    grid-area: part_4;
}

.part_5{
    grid-area: part_5;
}

.Sidebar{
    grid-area: nav;
    box-sizing: content-box;
    border-radius: 16px;
    background: var(--pastel_grey);
    height: 50%;
    /* padding: 1% 1.5%; */
}

.title_block{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}


.title_name{
    text-transform: uppercase;
    letter-spacing: 0.3em;    
}


.info{
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    gap: 40px;
}


.work_block{
    padding: 15px  ;
}

.list_classes{
    max-height: 80%;
    overflow: auto;
    margin: 15px 2px;
    display: flex;
    flex-direction: column;
    gap:6px
}


.class{
    background-color: var(--pastel_green);
    border-radius: var(--el_border_rad);
    padding: 10px;
    /* height: 1.5rem; */
    display: flex;
    align-items: center ;
}

.description{
    margin: 15px 2px;
}

.MenuSubjects{
    display: flex;;
    flex-direction: column;
    padding: 24px;
}

.section_title {
    height: var(--section_title-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.list_subjects{
    display: flex;
    flex-direction: column;
    gap:10px;
    /* background-color: var(--block-background-color); */
}

.menu_el{
    background-color: var(--title_grey);
    padding: 10px;
    border-radius: var(--el_border_rad);
}

.menu_el:hover{
    cursor: pointer;
}

.active_title{
    background-color: var(--title_blue);
}

.context_button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 60px;
    height: 0.8em;
    width: 1.5em
}

.ContextMenu{
    position: absolute;
    /* visibility: hidden; */
}

.add{
    background-color: #00D0A0;
}

.add::before{
    content: "+";
}

.delete{
    background-color: #F00000;
}

.delete::before{
    content: "×";
}

.input{
    padding: 10px;
    border-radius: var(--el_border_rad);
}

.modal{
    height: 92%;
    width: 92%;
    background-color: rgba(13, 61, 105, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.LessonForm{
    border-radius: 16px;
    /* height: 400px; */
    /* width: 600px; */
    background-color:rgb(0, 79, 153);

    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px
    
}

.LessonForm > *{
    font-size:  1rem;

}

.LessonInput{
    align-self: center;
}






























.SubjectForm{
    display: flex;
    flex-direction: column;
}

/**/

.Note{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 4px 10px;
    border: rgba(52, 145, 0, .3) 3px solid ;
}

.NoteForm{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding-right: 10px;
    /*padding: 4px 10px;*/
}

/**/

input, .note-input, .card-input {
    align-self: stretch;
    width: 350px;
    border-radius: 15px;
    /*font-size: 1.5rem;*/
    padding: 4px 10px;
}

.note-input, .card-input{
    outline: none;
    border: rgba(8, 63, 133, .5) 3px solid ;
    color: #083f85;
}

.card-input{
    margin-top: 10px;
}


button {
    padding: 2px 10px;
    margin-left: 5px ;
    /*background: transparent;*/
    /*font-size: 1rem;*/
    cursor: pointer;
    border:none;
    background-color: #e6e4e4;
    border-radius: 5px;
}

.select-button, .add-card-button, .delete-card-button{
    margin-top: 5%;
    /*font-size: 2rem;*/
}

/**/

.select-button{
    color: rgba(8, 63, 133);
}

.select-button:focus {
    outline: none;
    color: rgba(8, 63, 133);
    background-color: rgba(52, 145, 0, 0.5);
}

.select-button:hover:focus {
    color: rgba(8, 63, 133);
}

.select-button:hover {
    transition: 0.3s;
    color: #c60a0a;
}

/**/

.add-card-button, .add-button{
    background-color: #083f85;
    color: white;
}

.add-button {
    width: 125px;
}

.delete-card-button, .delete-button{
    background-color: #c60a0a;
    color: white;
}

.delete-button {
    width: 95px;
}
